{{define "body"}}
<p>
   This is just a placeholder
                  
   <div id="cleftest">
       <script src='https://clef.io/v1/clef.js' class='clef-code' 
           data-app-id='YOUR-APP-ID-HERE' data-redirect-url="http://localhost:8000/login"
           data-size='DESIRED_QR_CODE_SIZE'>
       </script>
   </div>

<p>
{{end}}

